<h2 class="title has-text-centered is-4 m-2 mt-5 mb-5">Available devices for you</h2>
<div class="is-flex is-justify-content-center">
	<table class="table is-flex-grow-1 is-striped is-hoverable">
		<thead>
		<tr>
			<th class="is-primary">Device name</th>
			<th class="is-primary">Category</th>
			<th class="is-primary">Price</th>
		</tr>
		</thead>
		<tbody>
		<tr class="device-rows" *ngFor="let device of devices">
			<td class="has-text-weight-semibold">{{device.name}}</td>
			<td class="is-uppercase has-text-weight-light">{{device.category}}</td>
			<td>{{device.price}} $</td>
		</tr>
		</tbody>
	</table>
</div>
