<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<div class="navbar-item title is-3 has-text-weight-bold">
			LendIT
		</div>
	</div>
	<a class="navbar-item has-text-weight-bold" routerLink="/devices/user">
		<p class="mr-1">Available devices</p>
		<fa-icon [icon]="tabletIcon"></fa-icon>
	</a>
	<a class="navbar-item has-text-weight-bold" routerLink="/devices/owner">
		<p class="mr-1">Device status</p>
		<fa-icon [icon]="toolsIcon"></fa-icon>
	</a>
</nav>
