$navbar-item-hover-color: #248996;
$primary: #2b9ba9;
$navbar-background-color: rgba(196, 193, 184, 0.4);
$navbar-item-color: #2b9ba9;
$navbar-item-hover-background-color: rgba(196, 193, 184, 0.4);
@import "~bulma/bulma";
